---
---

@import "{{ site.theme }}";
.wrapper {
  width:860px;
  margin:0 auto;
}

header {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}